$base: $utility-base;

.has-no-padding {
  padding: 0 !important;
}

.has-padding-1 {
  padding: $base !important;
}

.has-padding-2 {
  padding: $base * 1.5 !important;
}

.has-padding-3 {
  padding: $base * 2 !important;
}

.has-padding-4 {
  padding: $base * 2.5 !important;
}

.has-padding-5 {
  padding: $base * 3 !important;
}

.has-padding-6 {
  padding: $base * 3.5 !important;
}

.has-padding-top-0 {
  padding-top: 0 !important;
}

.has-padding-top-1 {
  padding-top: $base !important;
}

.has-padding-top-2 {
  padding-top: $base * 1.5 !important;
}

.has-padding-top-3 {
  padding-top: $base * 2 !important;
}

.has-padding-top-4 {
  padding-top: $base * 2.5 !important;
}

.has-padding-top-5 {
  padding-top: $base * 3 !important;
}

.has-padding-top-6 {
  padding-top: $base * 3.5 !important;
}

.has-padding-top-7 {
  padding-top: $base * 4 !important;
}

.has-padding-top-8 {
  padding-top: $base * 4.5 !important;
}

.has-padding-top-9 {
  padding-top: $base * 5 !important;
}

.has-padding-top-10 {
  padding-top: $base * 9 !important;
}

.has-padding-bottom-0 {
  padding-bottom: 0 !important;
}

.has-padding-bottom-1 {
  padding-bottom: $base !important;
}

.has-padding-bottom-2 {
  padding-bottom: $base * 1.5 !important;
}

.has-padding-bottom-3 {
  padding-bottom: $base * 2 !important;
}

.has-padding-bottom-4 {
  padding-bottom: $base * 2.5 !important;
}

.has-padding-bottom-5 {
  padding-bottom: $base * 3 !important;
}

.has-padding-bottom-6 {
  padding-bottom: $base * 3.5 !important;
}

.has-padding-right-0 {
  padding-right: 0 !important;
}

.has-padding-right-1 {
  padding-right: $base !important;
}

.has-padding-right-2 {
  padding-right: $base * 1.5 !important;
}

.has-padding-right-3 {
  padding-right: $base * 2 !important;
}

.has-padding-right-4 {
  padding-right: $base * 2.5 !important;
}

.has-padding-right-5 {
  padding-right: $base * 3 !important;
}

.has-padding-right-6 {
  padding-right: $base * 3.5 !important;
}

.has-padding-left-0 {
  padding-left: 0 !important;
}

.has-padding-left-1 {
  padding-left: $base !important;
}

.has-padding-left-2 {
  padding-left: $base * 1.5 !important;
}

.has-padding-left-3 {
  padding-left: $base * 2 !important;
}

.has-padding-left-4 {
  padding-left: $base * 2.5 !important;
}

.has-padding-left-5 {
  padding-left: $base * 3 !important;
}

.has-padding-left-6 {
  padding-left: $base * 3.5 !important;
}

// special 
.has-padding-left-20px {
  padding-left: 20px !important;
}

.has-padding-y-1 {
  padding-top: $base !important;
  padding-bottom: $base !important;
}

.has-padding-y-2 {
  padding-top: $base * 1.5 !important;
  padding-bottom: $base * 1.5 !important;
}

.has-padding-y-3 {
  padding-top: $base * 2 !important;
  padding-bottom: $base * 2 !important;
}

.has-padding-y-4 {
  padding-top: $base * 2.5 !important;
  padding-bottom: $base * 2.5 !important;
}

.has-padding-y-5 {
  padding-top: $base * 3 !important;
  padding-bottom: $base * 3 !important;
}

.has-padding-y-6 {
  padding-top: $base * 3.5 !important;
  padding-bottom: $base * 3.5 !important;
}

.has-padding-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.has-padding-x-1 {
  padding-left: $base !important;
  padding-right: $base !important;
}

.has-padding-x-2 {
  padding-left: $base * 1.5 !important;
  padding-right: $base * 1.5 !important;
}

.has-padding-x-3 {
  padding-left: $base * 2 !important;
  padding-right: $base * 2 !important;
}

.has-padding-x-4 {
  padding-left: $base * 2.5 !important;
  padding-right: $base * 2.5 !important;
}

.has-padding-x-5 {
  padding-left: $base * 3 !important;
  padding-right: $base * 3 !important;
}

.has-padding-x-6 {
  padding-left: $base * 3.5 !important;
  padding-right: $base * 3.5 !important;
}

.has-padding-x-7 {
  padding-left: $base * 4.5 !important;
  padding-right: $base * 4.5 !important;
}

.has-padding-x-10 {
  padding-left: $base * 7.5 !important;
  padding-right: $base * 7.5 !important;
}

@media screen and (max-width: $mobile) {
  .has-no-padding-mobile {
    padding: 0 !important;
  }

  .has-padding-auto-mobile {
    padding: 0 auto !important;
  }

  .has-padding-1-mobile {
    padding: $base !important;
  }

  .has-padding-2-mobile {
    padding: $base * 1.5 !important;
  }

  .has-padding-3-mobile {
    padding: $base * 2 !important;
  }

  .has-padding-4-mobile {
    padding: $base * 2.5 !important;
  }

  .has-padding-5-mobile {
    padding: $base * 3 !important;
  }

  .has-padding-6-mobile {
    padding: $base * 3.5 !important;
  }

  .has-padding-top-1-mobile {
    padding-top: $base !important;
  }

  .has-padding-top-2-mobile {
    padding-top: $base * 1.5 !important;
  }

  .has-padding-top-3-mobile {
    padding-top: $base * 2 !important;
  }

  .has-padding-top-4-mobile {
    padding-top: $base * 2.5 !important;
  }

  .has-padding-top-5-mobile {
    padding-top: $base * 3 !important;
  }

  .has-padding-top-6-mobile {
    padding-top: $base * 3.5 !important;
  }

  .has-padding-bottom-1-mobile {
    padding-bottom: $base !important;
  }

  .has-padding-bottom-2-mobile {
    padding-bottom: $base * 1.5 !important;
  }

  .has-padding-bottom-3-mobile {
    padding-bottom: $base * 2 !important;
  }

  .has-padding-bottom-4-mobile {
    padding-bottom: $base * 2.5 !important;
  }

  .has-padding-bottom-5-mobile {
    padding-bottom: $base * 3 !important;
  }

  .has-padding-bottom-6-mobile {
    padding-bottom: $base * 3.5 !important;
  }

  .has-padding-right-1-mobile {
    padding-right: $base !important;
  }

  .has-padding-right-2-mobile {
    padding-right: $base * 1.5 !important;
  }

  .has-padding-right-3-mobile {
    padding-right: $base * 2 !important;
  }

  .has-padding-right-4-mobile {
    padding-right: $base * 2.5 !important;
  }

  .has-padding-right-5-mobile {
    padding-right: $base * 3 !important;
  }

  .has-padding-right-6-mobile {
    padding-right: $base * 3.5 !important;
  }

  .has-padding-left-1-mobile {
    padding-left: $base !important;
  }

  .has-padding-left-2-mobile {
    padding-left: $base * 1.5 !important;
  }

  .has-padding-left-3-mobile {
    padding-left: $base * 2 !important;
  }

  .has-padding-left-4-mobile {
    padding-left: $base * 2.5 !important;
  }

  .has-padding-left-5-mobile {
    padding-left: $base * 3 !important;
  }

  .has-padding-left-6-mobile {
    padding-left: $base * 3.5 !important;
  }

  .has-padding-y-1-mobile {
    padding-top: $base !important;
    padding-bottom: $base !important;
  }

  .has-padding-y-2-mobile {
    padding-top: $base * 1.5 !important;
    padding-bottom: $base * 1.5 !important;
  }

  .has-padding-y-3-mobile {
    padding-top: $base * 2 !important;
    padding-bottom: $base * 2 !important;
  }

  .has-padding-y-4-mobile {
    padding-top: $base * 2.5 !important;
    padding-bottom: $base * 2.5 !important;
  }

  .has-padding-y-5-mobile {
    padding-top: $base * 3 !important;
    padding-bottom: $base * 3 !important;
  }

  .has-padding-y-6-mobile {
    padding-top: $base * 3.5 !important;
    padding-bottom: $base * 3.5 !important;
  }

  .has-padding-x-1-mobile {
    padding-left: $base !important;
    padding-right: $base !important;
  }

  .has-padding-x-2-mobile {
    padding-left: $base * 1.5 !important;
    padding-right: $base * 1.5 !important;
  }

  .has-padding-x-3-mobile {
    padding-left: $base * 2 !important;
    padding-right: $base * 2 !important;
  }

  .has-padding-x-4-mobile {
    padding-left: $base * 2.5 !important;
    padding-right: $base * 2.5 !important;
  }

  .has-padding-x-5-mobile {
    padding-left: $base * 3 !important;
    padding-right: $base * 3 !important;
  }

  .has-padding-x-6-mobile {
    padding-left: $base * 3.5 !important;
    padding-right: $base * 3.5 !important;
  }
}

@media screen and (min-width: $tablet) and (max-width: $tablet-max){
  .has-padding-left-1-tablet {
    padding-left: $base !important;
  }
  .has-padding-left-2-tablet {
    padding-left: $base * 1.5 !important;
  }
  .has-padding-right-1-tablet {
    padding-right: $base !important;
  }
  .has-padding-right-2-tablet {
    padding-right: $base * 1.5 !important;
  }
}