.container {
    .img {
        &-face {
            height: auto;
            max-width: 90%;
            top: 70px;
            left: 20%;
            transition: all 0.2s;
            z-index: 5;
            @media only screen and (max-width: 650px) {
                max-width: 250px;
            }
            @media only screen and (max-width: 430px) {
                max-width: 200px;
            }
            @media only screen and (min-width: 650px) and (max-height: 690px) {
                max-width: 90%;
            }
        }
    }
}
.has-fullheight {
    height: 100% !important;
}
.is-align-center {
    display: flex !important;
    align-items: center;
    flex-grow: 1;
}
.is-main-title {
    text-align: right !important;
    flex-grow: 1;
}
.has-no-border {
    border: none !important;
}
.is-icon-list {
    position: fixed;
    margin: 0 auto !important;
    text-align: center !important;
    z-index: 99 !important;
    span {
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
    }
    svg {
        display: block !important;
        margin: 0.75rem;
    }
}
figure {
    img {
        border-radius: 5px !important;
    }
}