.has-fullheight {
    height: 100% !important;
}
.is-align-center {
    display: flex !important;
    align-items: center;
    flex-grow: 1;
}
.is-main-title {
    text-align: right !important;
    flex-grow: 1;
}
.has-no-border {
    border: none !important;
}